input {
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 1px 3px;
    background-color: #ffffff;
    cursor: pointer;
}

select {
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #eeeeee;
    cursor: pointer;
}